body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.headshot {
    transition: transform 0.3s ease;
    cursor: pointer; /* Indicates you can interact with the image */
}

.headshot.hovered {
    transform: scale(1.1); /* Slightly enlarges the headshot on hover */
}

#name {
    transition: color 0.3s ease;
}

#name.highlight {
    color: #007BFF; /* Changes color on hover */
}


section {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

dt {
    font-weight: bold;
}

dd + dt {
    margin-top: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
