body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: #fff;
    --main-color: #00ffee;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.headshot {
    border-radius: 50%;
}

.headshot {
    position: relative;
    top: 3rem;
    width: 12vw;
    border-radius: 65%;
    box-shadow: 0 0 25px var(--main-color); 
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.headshot:hover{
    box-shadow: 0 0 25px var(--main-color), 
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}


section {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

dt {
    font-weight: bold;
}

dd + dt {
    margin-top: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
